<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.erpdevelopment.vbvm"
          android:versionCode="18"
          android:versionName="3.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22"
        tools:overrideLibrary="com.cardinalsolutions.progressindicator"/>

    <supports-screens
        android:largeScreens="false"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="false"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo_scaled"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">

        <!-- android:theme="@style/AppBaseTheme"> -->

        <activity
            android:name="com.erpdevelopment.vbvm.activity.SplashActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <!--android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.erpdevelopment.vbvm.activity.MainActivity"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
        </activity>

        <service android:name="com.erpdevelopment.vbvm.activity.AudioPlayerService">
        </service>
        <service android:name="com.erpdevelopment.vbvm.service.DownloadAllService">
        </service>

        <service
            android:name="com.erpdevelopment.vbvm.service.downloader.DownloadService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name="com.erpdevelopment.vbvm.activity.SettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>